.ci-container {
  margin: -18px;
}

.responsive-iframe {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.move-cancel-btn {
  background-color: #4867df;
  color: #fff;
  border: 1px solid #4867df;
} 